<section id="home">
    <div>
        <h1>Welcome to ShopEase</h1>
        <h4>Lorem ipsum dolor sit amet consectetur adipisicing elit. 
            At nobis nostrum aliquam nisi veritatis sed incidunt, amet sapiente perferendis eaque 
            dignissimos. Eum eos tempore accusantium ea exercitationem eveniet, perspiciatis delectus!</h4>
        <button > <a routerLink="/products">Product</a></button>
    </div>
</section>

<section>
    <div>
        <h1>Added this section to test sticky navbar</h1>
        <h4>Lorem ipsum dolor sit amet consectetur adipisicing elit. 
            At nobis nostrum aliquam nisi veritatis sed incidunt, amet sapiente perferendis eaque 
            dignissimos. Eum eos tempore accusantium ea exercitationem eveniet, perspiciatis delectus!</h4>
        
    </div>
</section>