<main>
<section id="home">
    <div>
        <h1>Welcome to ShopEase</h1>
        <h4>Lorem ipsum dolor sit amet consectetur adipisicing elit. 
            At nobis nostrum aliquam nisi veritatis sed incidunt, amet sapiente perferendis eaque 
            dignissimos. Eum eos tempore accusantium ea exercitationem eveniet, perspiciatis delectus!</h4>
        <button > <a routerLink="/products">Product</a></button>
    </div>
</section>

<section>
    <div>
        <h1>Added this section to test sticky navbar</h1>
        <h4>Lorem ipsum dolor sit amet consectetur adipisicing elit.  </h4>
            <blockquote cite="https://www.lipsum.com/">At nobis nostrum aliquam nisi veritatis sed incidunt, amet sapiente perferendis eaque 
                dignissimos. Eum eos tempore accusantium ea exercitationem eveniet, perspiciatis delectus! </blockquote>
           
            <details>
                <summary>
                    view more
                </summary>
                <p>Lorem ipsum dolor, sit amet consectetur adipisicing elit. Cupiditate minus tempore expedita ea facilis laboriosam reiciendis debitis dicta, modi beatae nemo repellat obcaecati at perferendis voluptate consectetur numquam eius praesentium.</p>
              </details>
    </div>
                 
    
</section>
</main>