@import "/src/styles.scss";

@keyframes slideRightToLeft {
  0% {
    margin-left: 70%;
  }
  100% {
    margin-left: 0%;
  }
}

article {
  width: 100%;
  background-image: linear-gradient(120deg, $bg-color-start 0%, $bg-color-end 100%);
  
  .offer-text {
    padding: 10px 0px;
    font-size: 1.2rem;
    color: $white;
  }
  
  .slide-right-to-left {
    animation: slideRightToLeft 10s linear infinite; // Adjust the duration as needed
  }
}
