@import "/src/styles.scss";

.container {
    background-color: $black;
    color: #fff;
    padding: 20px;
    @include center;
  }

  span {
    font-size: 12px;
    line-height: 25px;
    margin-right: 10px;
  }
  nav {
    a {
        cursor: pointer;
      color: $blue;
      font-size: 12px;
      text-decoration: none;
      &:hover {
        text-decoration: underline;
      }
    }
  }
  