@import "/src/styles.scss";

.container {
    background-color: $black;
    color: #fff;
    padding: 20px;
    @include center;
    display: block;
    .copy{
        font-size: 14px;
        padding-top: 8px;
    }
  }

  span {
    font-size: 12px;
    line-height: 25px;
    margin-right: 10px;
  }

  nav {
    font-size: 14px;
    a {
     cursor: pointer;
      color: $blue;
      font-size: 13px;
        text-decoration: underline;
        padding: 0 5px;
    }
  }
  