@import "./variables.scss";

html, body {
    height: 100%;
    margin: 0;
    padding: 0;
    font-family: "Roboto", Arial, "Helvetica Neue", Helvetica, sans-serif;
  }

  body.dark {
    @include darken();
  }
  body.light {
    @include lighten();
  }


// Define mixins gradient background with function
@mixin gradient-background($start-color, $end-color) {
  background-image: linear-gradient(120deg, $start-color 0%, $end-color 100%);
}

@mixin button-styles {
  margin: 10px;
  font-size: 1.2rem;
  font-weight: 400;
  cursor: pointer;
  color: $white;
  padding: 10px 20px;
  border: 1px solid $white;
  border-radius: 4px;
  @include gradient-background($bg-color-start, $bg-color-end);
}

// Define a mixin make div center
@mixin center-absolute {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}
// bad

@mixin center{
  text-align: center;
  display: flex;
  justify-content: center;
}
//good